[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"

[packages]

[scripts]
test = "pytest -v --cov=audearch --cov-report=xml"

[requires]
python_version = "3.8"
